.form {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1.5px solid black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(77, 74, 74);
}

.numeroInput {
    width: 50px;
}

.boton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boxError {
    border: 1px solid red;
    font-size: 12px;
    padding: 1px 200px;
    border-radius: 7px;
    background-color: rgb(200, 81, 81);
}